[submodule "Alternate Lebanon Aid Connect"]
	path = Alternate Lebanon Aid Connect
	url = https://github.com/ajsaliba/lebanon-aid-connect-8328acaa.git
	branch = main
[submodule "World Monitor"]
	path = World Monitor
	url = https://github.com/koala73/worldmonitor.git
	branch = main
[submodule "Lebanon Aid Connect Reimagined"]
	path = Lebanon Aid Connect Reimagined
	url = https://github.com/ajsaliba/aidconnect-reimagined.git
	branch = main
[submodule "Centcom Operations"]
	path = Centcom Operations
	url = https://github.com/tscsoh/centcom-operations.git
	branch = main
